<!DOCTYPE html>
<html lang="en" ng-app="VacancyWidgetConstructorApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Виджет вакансий</title>

    <!-- Bootstrap -->

    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/lib/ng-tags-input.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="css/lib/jquery.tree.min.css" />
    <link rel="stylesheet" type="text/css" href="css/lib/colorpicker.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.js"></script>
    <script src="js/lib/respond.min.js"></script>
    <![endif]-->

    <style>
        .ngTagsInput.no-input > .tags > .tag-input {
            display: none !important;
        }
        .ngTagsInput.no-input .tags {
            border: none;
            box-shadow: none;
            margin:0;
            padding:0;
        }
        .modal-dialog-show-title{
            float:left;
            padding: 7px 0 0 0;
        }
    </style>
</head>
<body ng-controller="WidgetConstructorCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h1>Виджет вакансий <i style="font-size:12px;position:absolute;margin-left:10px;">{{version}}</i></h1>
                <p>Задайте параметры виджета и скопируйте код размещения на своём сайте.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <form name="constructor_form" class="form-horizontal" novalidate role="form">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Профобласть</label>
                        <div class="col-xs-9">
                            <span ng-hide="selectedSpecializations.length > 0" style="padding: 7px 20px 0 0;float:left;">Любая</span>
                            <tags-input
                                ng-model="selectedSpecializations"
                                custom-class="bootstrap no-input"
                                />

                            <!-- Specializations Modal -->
                            <modal-dialog title="Выбор специализаций" ok="Выбрать" cancel="Отмена">
                                <!-- Tree view control -->
                                <tree-view data="specializations" name="specializations" items-selected="specializationsSelected(data)"/>
                            </modal-dialog>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keyWords" class="col-xs-3 control-label">Ключевые слова</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="keyWords" ng-model="keyWords">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Регион</label>
                        <div class="col-xs-9">
                            <tags-input
                                ng-model="selectedAreas"
                                custom-class="bootstrap"
                                >
                                <auto-complete
                                    source="loadRegionsSuggestion($query)"
                                    min-length="2"
                                    >
                                </auto-complete>
                            </tags-input>

                            <!-- Region Modal -->
                            <modal-dialog title="Выбор регионов" ok="Выбрать" cancel="Отмена">
                                <!-- Tree view control -->
                                <tree-view data="areas" name="areas" items-selected="regionsSelected(data)"/>
                            </modal-dialog>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Вакансий</label>
                        <div class="col-xs-9">
                            <label><input type="radio" ng-model="vacanciesAmount" value="3">3</label>
                            <label><input type="radio" ng-model="vacanciesAmount" value="6">6</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Тип занятости</label>
                        <div class="col-xs-9">
                            <div class="checkbox" ng-repeat="t in employment">
                                <label>
                                    <input
                                            type="checkbox"
                                            name="employment[]"
                                            value="{{t.id}}"
                                            ng-checked="t.selected"
                                            ng-click="t.selected = !t.selected"
                                            > {{t.name}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">График работы</label>
                        <div class="col-xs-9">
                            <div class="checkbox" ng-repeat="t in schedule">
                                <label>
                                    <input
                                            type="checkbox"
                                            name="occupationTypes[]"
                                            value="{{t.id}}"
                                            ng-checked="t.selected"
                                            ng-click="t.selected = !t.selected"
                                            > {{t.name}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Опыт работы</label>
                        <div class="col-xs-9">
                            <div class="radio" ng-repeat="t in experience">
                                <label>
                                    <input
                                            type="radio"
                                            ng-model="$parent.selectedExperience"
                                            ng-value="t"
                                            value="{{t.id}}"
                                            name="exp"
                                            > {{t.name}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': constructor_form.salary.$dirty && constructor_form.salary.$invalid}">
                        <label class="col-xs-3 control-label">Уровень заработной платы</label>
                        <div class="col-xs-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="salary" ng-model="salary" ng-pattern="/^[0-9\s\.\,]*$/">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{selectedCurrency.code}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-repeat="c in currency" ng-click="$parent.selectedCurrency=c"><a>{{c.code}}</a></li>
                                    </ul>
                                </div><!-- /input-btn-group -->
                            </div><!-- /input-group -->
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox"
                                        ng-model="hideVacanciesWithoutSalary"
                                        > Скрыть вакансии без указания зарплаты
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': constructor_form.borderColor.$dirty && constructor_form.borderColor.$invalid}">
                        <label for="borderColor" class="col-xs-3 control-label">Цвет рамки</label>
                        <div class="col-xs-9">
                            <input colorpicker type="text" class="form-control" name="borderColor" id="borderColor" ng-model="borderColor" ng-pattern="/^#([0-9a-fA-F]){3}([0-9a-fA-F]{3})?$/"/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': constructor_form.linksColor.$dirty && constructor_form.linksColor.$invalid}">
                        <label for="linksColor" class="col-xs-3 control-label">Цвет ссылок</label>
                        <div class="col-xs-9">
                            <input colorpicker type="text" class="form-control" name="linksColor" id="linksColor" ng-model="linksColor" ng-pattern="/^#([0-9a-fA-F]){3}([0-9a-fA-F]{3})?$/"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4">
                <div class="form-group widget-preview"></div>
                <div class="form-group">
                    <label for="scriptUrl">Код для вставки</label>
                    <textarea class="form-control" rows="6" id="scriptUrl">{{widgetData}}</textarea>
                </div>
            </div>
        </div>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/lib/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-resource.min.js"></script>
<script src="js/lib/ng-tags-input.js"></script>
<script src="js/lib/jquery.tree.min.js"></script>
<script src="js/lib/bootstrap-colorpicker-module.js"></script>


<script src="js/common/urlUtils.js"></script>
<script src="js/common/hh-api.js"></script>
<script src="js/common/common-controls.js"></script>
<script src="js/constructor.js"></script>
</body>
</html>